
body {
    background-color: white;
    /* to center the div in center */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }


/* =========================== */
/* this is for the outside layer of the div in page start*/
.container_1{
    padding: 30px;
    background-color: #AB9E98;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* this is the inner layer of the div in page start*/
.container_2{
    padding: 30px;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* =========================== */
.box1{
    text-align: center;
    margin-bottom: 30px;
}
.logo{
    width: 100%;
    height: 50%;
}
.tit{
    font-size: xx-large;
}

.box2{
    align-items: center;
    margin-top:50px;
}

/* =========================== */
.login{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: #AB9E98;
    border-color: whitesmoke;
}

/* =========================== */
.Register{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: #AB9E98;
    border-color: whitesmoke;
}

 